.home-page-main {
  height: 100%;
  width: 100%;
}

.homepage {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topRegister {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topRegister img {
  height: 190px;
}

.topRegister h4 {
  position: relative;
  margin-top: -50px;
}

.bottomRegister {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 23px;
  border-radius: 23px;
  gap: 100px;
  background: #ff904c;
}

.bottomRegister img {
  height: 200px;
}

.regButtons {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.leftRegister {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.regButtons button {
  padding: 24px;
  background: #264595;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.2s ease;
}

.regButtons button:hover {
  transform: scale(1.1);
}

.homepage-mobile {
  width: 100%;
  height: 100%;
  display: none;
}

.topRegisterMobile {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topRegisterMobile h4 {
  position: relative;
  margin-top: -90px;
}

.bottomRegisterMobile {
  margin-top: 160px;
  height: 60%;
  width: 80%;
  padding: 24px;
  border-radius: 23px;
  background: #ff904c;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 200px;
}

.joinCard {
  width: 500px;
  padding: 40px;
  background: #284493;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 250%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(241, 241, 241);
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.joinCard h1 {
  font-size: 23px;
}

.joinCard input {
  width: 200px;
  border-radius: 14px;
  border: 1px solid black;
  margin-top: 30px;
  padding: 23px;
}

.joinCard button {
  padding: 24px;
  width: 200px;
  background: #ff904c;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.2s ease;
  margin-top: 30px;
}

.joinCard button:hover {
  transform: scale(1.1);
}

.regCard {
  width: 50%;
  padding: 40px;
  background: #284493;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 250%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(241, 241, 241);
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.regCard h1 {
  font-size: 23px;
}
.regInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  gap: 10px; /* Add a gap between the inputs */
}

.regCard input {
  width: 200px;
  border-radius: 14px;
  border: 1px solid black;
  margin-top: 30px;
  padding: 23px;
}

.regCard button {
  padding: 24px;
  width: 200px;
  background: #ff904c;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.2s ease;
  margin-top: 30px;
}

.regCard button:hover {
  transform: scale(1.1);
}

@media (max-width: 646px) {
  .homepage {
    display: none;
  }

  .joinCard {
    width: 80%;
  }

  .joinCard h1 {
    font-size: 20px;
  }

  .homepage-mobile {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .regButtons {
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .regButtons button {
    width: 100%;
  }

  .bottomRegisterMobile h1 {
    font-size: 40px;
    text-align: center;
  }
}
