.home-page-main {
  height: 100%;
  width: 100%;
}

.homepage {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topRegister {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topRegister img {
  height: 190px;
}

.topRegister h4 {
  position: relative;
  margin-top: -50px;
}

.bottomRegister {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 23px;
  border-radius: 23px;
  gap: 100px;
  background: #ff904c;
}

.bottomRegister img {
  height: 200px;
}

.regButtons {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.leftRegister {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.regButtons button {
  padding: 24px;
  background: #264595;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}

.homepage-mobile {
  width: 100%;
  height: 100%;
  display: none;
}

@media (max-width: 646px) {
  .homepage {
    display: none;
  }

  .homepage-mobile {
    display: flex;
  }
}
